<div class="card w-100 my-5">
  <div class="car-body">
    <h1 class="card-title text-center">Formulário de Usuário</h1>
    <form [formGroup]="userForm">
      <div class="rmy-4 w-100 d-flex justify-content-between">
        <div class="form-floating w-50 mx-2">
          <input formControlName="name" type="text" class="form-control" id="name" placeholder="Digite o seu nome">
          <label for="name">Nome</label>
        </div>
        <div class="form-floating  w-50 mx-2">
          <input formControlName="lastName" type="text" class="form-control" id="lastname" placeholder="Digite o seu sobrenome">
          <label for="lastname">Sobrenome</label>
        </div>
      </div>
      <div class="my-4 w-100 d-flex justify-content-between">
        <div class="form-floating  w-50 mx-2">
          <input formControlName="age" type="text" class="form-control" id="age" placeholder="Digite sua idade">
          <label for="age">Idade</label>
        </div>
        <div class="form-floating  w-50 mx-2">
          <input formControlName="profession" type="text" class="form-control" id="profession" placeholder="Digite sua profissão">
          <label for="profession">Profissão</label>
        </div>
      </div>
      <div class="row my-4 mx-2">
        <div class="form-group col-12 mt-4">
          <button type="button" class="btn btn-outline-danger float-start">Cancelar</button>
          <button type="button" class="btn btn-outline-success float-end" (click)="createUser()">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>